a :hover {
  color: hsl(149, 75%, 49%);
}

h2 {
  font-size: 2.5rem;
  font-size: 800;
  max-width: 80%;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
}

hr {
  max-width: 30%;
  margin: 0 auto;
  margin-top: 2rem;
  border: 0.1rem solid hsl(149, 75%, 49%);
  margin-bottom: 2rem;
  min-width: 8vw;
}

.buttons {
  padding: 2rem;
  font-size: 2rem;
  border-radius: 2rem;
  background-color: hsl(149, 75%, 49%);
  text-decoration: none;
  color: white;
  font-weight: 700;
}
main {
  margin-top: 5rem;
}
/*HEADER*/

header {
  background-color: hsl(220, 92%, 11%);
  padding: 32px;
}
.navLinks :hover {
  color: hsl(149, 75%, 49%);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  overflow: hidden;
}

.navTicketButton {
  background-color: #3498db;
  color: black;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease-in-out;
}

.navTicketButton:before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(120deg, #1cce72 0, #0f58e6 150%);
  transition: top 0.2s ease-in-out;
}
.navTicketButton:hover:before {
  top: 0;
}

header {
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

nav img {
  max-width: 15rem;
  padding-left: 3rem;
}

nav li {
  list-style: none;
}

.navLinks {
  display: flex;
  gap: 4rem;
  align-items: center;
  padding-right: 3rem;
  font-family: "Raleway", sans-serif;
}

.navLinks a {
  color: white;
  text-decoration: none;
}

.navTicketButton {
  padding: 1rem 1.8rem 1rem 1.8rem;
  border-radius: 1rem;
  background-color: white;
  font-weight: 800;
  background: linear-gradient(0.25turn, #a635ac, #7c49ce, #200cff);
}

/*Video with stamp*/
.hero-container {
  position: relative;
}
.dateStamp {
  display: flex;
  position: absolute;
  bottom: 5rem;
  left: 80vw;
  min-width: 10rem;
  min-height: 10rem;
  border-radius: 50%;
  background-color: hsl(220, 92%, 11%, 50%);
  align-items: center;
  text-align: center;
}

.dateStamp p {
  border-top: 0.15rem dotted rgb(47, 225, 47);
  border-bottom: 0.15rem dotted rgb(47, 225, 47);
  padding: 0.3rem 0 0.3rem 0;
  max-width: 6rem;
  margin: 0 auto;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

/* Text onder video */
.article-container {
  color: white;
  background-color: hsl(220, 92%, 11%);
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 10rem;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
}

.article-wrap {
  padding-top: 80px;
  margin: 0 auto;
  min-height: 120%;
  max-width: 50%;
  text-align: center;
  line-height: 1.1;
  padding-bottom: 5rem;
}

.article-wrap p {
  margin: 0 auto;
  max-width: 80%;
  line-height: 2;
  font-size: larger;
  font-weight: 600;
}

/*Trees svg*/
.image-container .right {
  min-width: 10%;
  max-width: 15%;
  position: absolute;
  right: 0%;
  top: 5rem;
}
.image-container .left {
  min-width: 10%;
  max-width: 15%;
  position: absolute;
  left: 0%;
  top: 5rem;
}

/*Snow ball banner image*/
.small-image-container {
  overflow: hidden;
  max-height: 30rem;
}

.background-image {
  background-image: url("../img/Lightopia Project Images 2/background-02.png");
  background-size: cover;
  background-size: 100%;
}

/*Reviews*/

.reviews-container {
  font-family: "Raleway", sans-serif;
  padding-bottom: 7rem;
}
.review-header {
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 3rem;
  margin-top: 8rem;
}
.review-header h2 {
  margin: 0 auto;
  max-width: 60%;
}
.review-header h3 {
  margin: 0 auto;
  max-width: 70%;
}
.reviews-container {
  color: white;
  background-color: hsl(223, 89%, 7%);
  display: flex;
  flex-wrap: wrap;
}
.review-article-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.reviews-container article {
  max-width: 40%;
  margin-bottom: 2rem;
}
.reviews-container article .review {
  padding: 2rem;
  background-color: hsl(218, 44%, 16%);
  border-radius: 1rem;
  margin: 0.8rem;
  margin-bottom: 1.5rem;
  min-height: 80%;
}
.reviews-container strong {
  padding-left: 2rem;
}

/*Image gallery*/
.image-gallery-container {
  display: flex;
  flex-wrap: wrap;
}

.image-gallery-container img {
  max-width: 20%;
}

/*Sign in container*/

.sign-in-container {
  background-color: hsl(223, 89%, 7%);
  color: white;
  font-family: "Raleway", sans-serif;
  padding-bottom: 10rem;
  position: relative;
  text-align: center;
}
.sign-in-container h2 {
  padding-top: 6rem;
}
.sign-in-container .email {
  display: flex;
}
.sign-in-container form {
  margin: 0 auto;
}
.email {
  min-width: 60%;
  margin: 0 auto;
  border: solid white;
  padding: 1rem;
  border-radius: 0.5rem;
}
.submit {
  margin: 0 auto;
  max-width: fit-content;
  padding-top: 3rem;
}

.images-sign-in {
  background-color: hsl(220, 92%, 11%);
}

.left-flower {
  position: absolute;
  left: 0;
  bottom: 0;
}

.right-flower {
  position: absolute;
  right: 0;
  bottom: 0;
}

/*footer*/

footer {
  padding-top: 5rem;
  color: white;
  background-color: hsl(220, 92%, 11%);
  display: flex;
  font-family: "Raleway", sans-serif;
}

.footer-container hr {
  max-width: 3rem;
  min-width: 3rem;
}

footer p {
  display: flex;
}
.social-media-container {
  display: flex;
  align-items: baseline;
}
.social-media-container svg {
  min-width: 2rem;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: 1rem;
}
footer a {
  text-decoration: none;
  color: white;
}

.footer-container {
  margin: 0 auto;
  min-width: 70vw;
  display: flex;
  justify-content: space-between;
}
.footer-container hr {
  max-width: 3rem;
  margin: 1rem 0 1rem 0;
}
footer img {
  min-width: 10rem;
}
.grey-description,
.grey-description a {
  color: rgba(255, 255, 255, 0.491);
}

/*Parcours*/
.praktisch .article-container {
  padding-bottom: 3rem;
}

.article-container-parcours {
  font-family: "Raleway", sans-serif;
  color: white;
  background-color: hsl(220, 92%, 11%);
}
main {
  background-color: hsl(220, 92%, 11%);
}
.trail-map {
  margin: 0 auto;
  max-width: 90vw;
}

.uren {
  margin: 2rem;
}

.map-container {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: hsl(220, 92%, 11%);
  font-family: "Raleway", sans-serif;
}
.map-container p {
  max-width: 40%;
  font-size: 1.5rem;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.description-map {
  padding-top: 4rem;
}

.map-container .buttons {
  max-width: fit-content;
  margin: 0 auto;
}

.light-tree {
  padding-top: 10rem;
  max-height: 35rem;
}

/*gallery grid*/

.gallery-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(9, 1fr);
  max-width: 50vw;
  gap: 1rem;
  margin: 0 auto;
}

.item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item-1 {
  grid-area: 1 / 1 / 2 / 4;
}

.item-2 {
  grid-area: 1 / 4 / 2 / 7;
}

.item-3 {
  grid-area: 2 / 1 / 3 / 7;
}

.item-4 {
  grid-area: 3 / 1 / 5 / 3;
}

.item-5 {
  grid-area: 3 / 3 / 4 / 5;
}

.item-6 {
  grid-area: 3 / 5 / 4 / 7;
}

.item-7 {
  grid-area: 4 / 3 / 5 / 7;
}

.item-8 {
  grid-area: 5 / 1 / 6 / 7;
}

.item-9 {
  grid-area: 6 / 1 / 7 / 4;
}

.item-10 {
  grid-area: 6 / 4 / 7 / 7;
}

.item-11 {
  grid-area: 7 / 1 / 8 / 3;
}

.item-12 {
  grid-area: 7 / 3 / 8 / 5;
}

.item-13 {
  grid-area: 7 / 5 / 9 / 7;
}

.item-14 {
  grid-area: 8 / 1 / 9 / 5;
}

.item-15 {
  grid-area: 9 / 1 / 10 / 7;
}

/*praktisch*/

.uren {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 1rem;
  background-color: hsl(219, 94%, 21%);
  font-weight: 700;
}

.praktisch .article-container {
  padding-bottom: 0rem;
  padding-top: 3rem;
}

.praktisch .article-wrap {
  padding-bottom: 2rem;
}

.galerij .gallery-container {
  padding-bottom: 5rem;
}

/*faq*/

.faq {
  max-width: 600px;
  margin: 0 auto;
}

.question {
  cursor: pointer;
  background-color: #f0f0f0;
  padding: 10px;
  margin: 5px 0;
}

.answer {
  display: none;
  padding: 10px;
  background-color: #e0e0e0;
}
